.tabel h1{
    text-align: center;
    padding: 30px;
}
 
  .tabel td, .tabel th {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  
  .tabel th {
    padding: 20x;
    background-color: white;
    text-align: center;
  }

  .tabel {
    width: 50%;
    margin:0 auto;
    }

    .tabel button{
        margin: 0.5px;
    }

  .form{
    border: 1px solid #ccc;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
  }

  .headerForm h1{
    text-align: center;
    padding: 30px;
    margin-top: 100px;
}

  .form label{
      font-weight: bold;
      
  }

  .form input{
      float:right ;
  }

  ul{
    display: flex;
    list-style: none;
    top: 0%;
  }

  li{
    margin-right: 0px;
    padding: 5px;
    
  }
 .nav-light:hover  ul li{
    background-color:beige;
  }

  .nav-dark:hover  ul li{
    background-color: white;
  }

  .nav-light{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid grey;
    width: 100%;
    background-color: white;
    top: 0%;
    position: fixed;
  }

  .nav-dark{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    width: 100%;
    background-color:darkslategrey;
    top: 0%;
    position: fixed;
  }